In [69]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [70]:
os.getcwd()

'/Users/zorakramer/Downloads'

In [71]:
os.chdir('/Users/zorakramer/Downloads')

In [72]:
data = pd.read_csv('RidershipbyRouteTableDownload.csv')

In [73]:
data.head()

,Month,Route,Service Category,Service Day of the Week,Average Daily Boardings
0,January 2019,1 California,Frequent Local,Sunday,"9,600"
1,February 2019,1 California,Frequent Local,Sunday,"11,500"
2,March 2019,1 California,Frequent Local,Sunday,"11,800"
3,April 2019,1 California,Frequent Local,Sunday,"10,800"
4,May 2019,1 California,Frequent Local,Sunday,"10,800"

In [74]:
data['Average Daily Boardings'] = data['Average Daily Boardings'].apply(
    lambda x: pd.to_numeric(str(x).replace(',', ''), errors='coerce')
)

In [75]:
data.head()

,Month,Route,Service Category,Service Day of the Week,Average Daily Boardings
0,January 2019,1 California,Frequent Local,Sunday,9600.0
1,February 2019,1 California,Frequent Local,Sunday,11500.0
2,March 2019,1 California,Frequent Local,Sunday,11800.0
3,April 2019,1 California,Frequent Local,Sunday,10800.0
4,May 2019,1 California,Frequent Local,Sunday,10800.0

In [76]:
# Specify the date format and extract year from the Month column
data['Year'] = pd.to_datetime(data['Month'], format='%B %Y').dt.year

In [77]:
data.head()

,Month,Route,Service Category,Service Day of the Week,Average Daily Boardings,Year
0,January 2019,1 California,Frequent Local,Sunday,9600.0,2019
1,February 2019,1 California,Frequent Local,Sunday,11500.0,2019
2,March 2019,1 California,Frequent Local,Sunday,11800.0,2019
3,April 2019,1 California,Frequent Local,Sunday,10800.0,2019
4,May 2019,1 California,Frequent Local,Sunday,10800.0,2019

In [78]:
grouped_df = data.groupby(['Year', 'Route','Service Day of the Week'])['Average Daily Boardings'].mean().reset_index()

print(grouped_df.head(10))

   Year              Route Service Day of the Week  Average Daily Boardings
0  2019       1 California                Saturday             13983.333333
1  2019       1 California                  Sunday             11066.666667
2  2019       1 California                 Weekday             22716.666667
3  2019        10 Townsend                Saturday              3358.333333
4  2019        10 Townsend                  Sunday              2725.000000
5  2019        10 Townsend                 Weekday              7408.333333
6  2019  12 Folsom/Pacific                Saturday              4000.000000
7  2019  12 Folsom/Pacific                  Sunday              3300.000000
8  2019  12 Folsom/Pacific                 Weekday              6816.666667
9  2019         14 Mission                Saturday             23858.333333

In [79]:
data['Month'] = data['Month'].apply(
    lambda x: (x.replace('2019', '')))
data['Month'] = data['Month'].apply(
    lambda x: (x.replace('2020', '')))
data['Month'] = data['Month'].apply(
    lambda x: (x.replace('2021', '')))
data['Month'] = data['Month'].apply(
    lambda x: (x.replace('2022', '')))
data['Month'] = data['Month'].apply(
    lambda x: (x.replace('2023', '')))
data['Month'] = data['Month'].apply(
    lambda x: (x.replace('2024', '')))

In [80]:
data['Month']

0        January
1       February
2          March
3          April
4            May
          ...
9931    February
9932       March
9933       April
9934         May
9935        June
Name: Month, Length: 9936, dtype: object

In [81]:
cols = list(data.columns.values)

In [82]:
data = data[['Month', 'Year',  'Route',
 'Service Category',
 'Service Day of the Week',
 'Average Daily Boardings']]

In [83]:
cols

['Month',
 'Route',
 'Service Category',
 'Service Day of the Week',
 'Average Daily Boardings',
 'Year']

In [84]:
data.head()

,Month,Year,Route,Service Category,Service Day of the Week,Average Daily Boardings
0,January,2019,1 California,Frequent Local,Sunday,9600.0
1,February,2019,1 California,Frequent Local,Sunday,11500.0
2,March,2019,1 California,Frequent Local,Sunday,11800.0
3,April,2019,1 California,Frequent Local,Sunday,10800.0
4,May,2019,1 California,Frequent Local,Sunday,10800.0

In [ ]:
grouped_df = data.groupby(['Year', 'Route','Service Day of the Week'])['Average Daily Boardings'].mean().reset_index()

In [106]:
# Separate weekend and weekday data
weekend_df = grouped_df[grouped_df['Service Day of the Week'].isin(['Saturday', 'Sunday'])]
weekday_df = grouped_df[grouped_df['Service Day of the Week'] == 'Weekday']

In [108]:
# Pivot tables to get average daily boardings for each route
weekend_avg = weekend_df.groupby('Route')['Average Daily Boardings'].mean()
weekday_avg = weekday_df.groupby('Route')['Average Daily Boardings'].mean()

# Merge the weekend and weekday averages
comparison_df = pd.DataFrame({
    'Weekend Avg Boardings': weekend_avg,
    'Weekday Avg Boardings': weekday_avg
}).reset_index()

# Fill missing routes with NaN for comparison
comparison_df = comparison_df.fillna(0)

# Filter routes where weekend average is greater than weekday average
routes_comparison = comparison_df[comparison_df['Weekend Avg Boardings'] > comparison_df['Weekday Avg Boardings']]

print(routes_comparison)

                          Route  Weekend Avg Boardings  Weekday Avg Boardings
36                      39 Coit             237.263258             235.000000
44                     5 Fulton            8422.916667            6427.777778
51    59 Powell/Mason Cable Car            4583.333333            4100.000000
55      61 California Cable Car            2958.333333            2845.833333
60  76X Marin Headlands Express             295.833333               0.000000
69                  9 San Bruno            8672.916667            8433.333333
73                E Embarcadero            1806.250000            1791.666667
77                  K L M N Owl             141.666667             125.000000
83                    S Shuttle            2650.000000            2095.370370

In [112]:
routes_comparison2 = comparison_df[comparison_df['Weekend Avg Boardings'] == comparison_df['Weekday Avg Boardings']]

In [114]:
routes_comparison2

                  Route  Weekend Avg Boardings  Weekday Avg Boardings
59  714 BART Early Bird                    0.0                    0.0